body {
  margin: 0px;
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(4, 1fr);
}


.sidemenu {
  background-color: rgb(68, 104, 59);
  height: 100vh;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}


.uppermenu {
  position: relative;
  background-color: rgb(255, 255, 255);
  grid-column: 2 / 5;
  box-shadow: 2px 5px 5px 1px rgb(206, 211, 218);
}

.dashboard {
  background-color: rgba(226, 232, 240, 1);
  grid-row-start: 2;
  grid-column: 2 / 5;
  grid-row-end: end;

  height: calc(100vh - 150px);
}